.payment-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-right:70px;
  }
  
  .payment-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  